<div class="jumbotron">
  <h1>Welcome to Robot World!</h1>
  <p class="purpose">For all of those menial tasks that you would prefer to be automated and done by robots,
    here is the site for you.  Click around to find some robots that can help you out.
    Also, here are some statistics for your information. </p>
</div>

<div>
  <!-- <h3> Statistics </h3>
    <div>
      <%= @age %>
    </div> -->
