<form action="/robots" method="post">
  <p>Input A New Robot:</p>


  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Name</span>
    <input type='text' class="form-control" name='robot[name]'aria-describedby="basic-addon1"><br/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">City</span>
    <input type='text' class="form-control" name='robot[city]'aria-describedby="basic-addon1"><br/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">State</span>
    <input type='text' class="form-control" name='robot[state]'aria-describedby="basic-addon1"><br/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Birthdate</span>
    <input type='date' maxlength="5px" class="form-control" name='robot[birthdate]'aria-describedby="basic-addon1"><br/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Date Hired</span>
    <input type='date' class="form-control" name='robot[date_hired]'aria-describedby="basic-addon1"><br/>
  </div>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Department</span>
    <input type='text' class="form-control" name='robot[department]'aria-describedby="basic-addon1"><br/>
  </div>


  <input class="submitting" type='submit'/>

</form>
