<form action="/robots" method="post">
  <p>Input A New Robot:</p>

  <div>
    <label for="name">Name</label>
    <input type='text' name='robot[name]' id="name"><br/>
  </div>

  <div>
    <label for="city">City</label>
    <input type='text' name='robot[city]' id="city"><br/>
  </div>

  <div>
    <label for="state">State</label>
    <input type='text' name='robot[state]' id="state"><br/>
  </div>

  <div>
    <label for="avatar">Avatar</label>
    <input type='text' name='robot[avatar]' id="avatar"><br/>
  </div>

  <div>
    <label for="birthdate">Birthdate</label>
    <input type='date' name='robot[birthdate]' id="birthdate"><br/>
  </div>

  <div>
    <label for="date_hired">Date Hired</label>
    <input type='date' name='robot[date_hired]' id="date_hired"><br/>
  </div>

  <div>
    <label for="department">Department</label>
    <input type='text' name='robot[department]' id="department"><br/>
  </div>

  <input type='submit'/>

</form>
